{% extends 'yl/base_layout.html' %}
{% load static %}

{% block title %}
YoungLocal - Youth has no age
{% endblock %}


{% block content %}
  <!-- Page Content -->
		<!-- container -->
		<div class="container" id="hot-post-container">

			<div class="row ">
				<h4 class="card text-center" style="padding:16px 8px;line-height: 1.3em;">Web je stále vo vývoji. Za prípadne chyby sa ospravedlňujeme a budeme radi ak nám ich nahlásite na našom instagrame do DM: <a href="https://www.instagram.com/younglocal.sk/" style="color:#da8e3c;letter-spacing:4px;font-weight:bold;">YoungLocal.sk</a> </h4>
			</div>

			<div class="row">
					<h3 class="">Hot novinky</h3>
			</div>

			<!-- row -->
			<div id="hot-post" class="row hot-post">
				<div class="col-md-7 hot-post-left">
					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img" href="{% url 'yl:article' recent_new1.id %}"><img src="{{ MEDIA_URL }}{{ recent_new1.article_image }}" alt="top-article"></a>
						<div class="post-body">
							<div class="post-category">
								{% for item in recent_new1.category %}
									<a href="category.html">{{ item }}</a>
								{% endfor %}
							</div>
							<h3 class="post-title title-lg"><a href="{% url 'yl:article' recent_new1.id %}">{{recent_new1}}</a></h3>
							<ul class="post-meta">
								<li><a href="author.html">{{recent_new1.article_author}}</a></li>
								<li>{{recent_new1.article_created}}</li>
							</ul>
						</div>
					</div>
        </div>
          <div class="col-md-5 hot-post-right">
					
					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img" href="{% url 'yl:article' recent_new2.id %}"><img src="{{ MEDIA_URL }}{{ recent_new2.article_image }}" alt="top-article2"></a>
						<div class="post-body">
							<div class="post-category">
								{% for item in recent_new2.category %}
									<a href="category.html">{{ item }}</a>
								{% endfor %}
							</div>
							<h3 class="post-title"><a href="{% url 'yl:article' recent_new2.id %}">{{recent_new2}}</a></h3>
							<ul class="post-meta">
								<li><a href="author.html">{{recent_new2.article_author}}</a></li>
								<li>{{recent_new3.article_created}}</li>
							</ul>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img" href="{% url 'yl:article' recent_new3.id %}"><img src="{{ MEDIA_URL }}{{ recent_new3.article_image }}" alt="top-article3"></a>
						<div class="post-body">
							<div class="post-category">
								{% for item in recent_new3.category %}
									<a href="category.html">{{ item }}</a>
								{% endfor %}
							</div>
							<h3 class="post-title"><a href="{% url 'yl:article' recent_new3.id %}">{{recent_new3}}</a></h3>
							<ul class="post-meta">
								<li><a href="author.html">{{recent_new3.article_author}}</a></li>
								<li>{{recent_new3.article_created}}</li>
							</ul>
						</div>
					</div>
					<!-- /post -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<div class="container">
			<div class="row">
				<h3 id="news">News</h3>
			</div>
      <div class="row">
			{% for item in news %}
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<a href="{% url 'yl:article' item.id %}">
								<img src="{{ MEDIA_URL }}{{ item.article_image }}" alt="item" class="bd-placeholder-img card-img-top" width="100%" height="225">
							</a>
							<div class="card-body">
								<p href="{% url 'yl:article' item.id %}" class="card-text">{{item}}</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a id="read-more-btn" href="{% url 'yl:article' item.id %}" class="btn btn-warning btn-sm btn-outline-secondary">Viac</a>
									</div>
									<small class="text-muted">{{item.article_created}}</small>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
				
			

			<div class="row text-center pages">
				<ul>
					{% if news.has_previous %}
						<a href="?page=1#news"><li class="btn-lg btn">&laquo; first</li></a>
						<a href="?page={{ news.previous_page_number }}#news"><li class="btn-lg btn">{{ news.previous_page_number }}</li></a>
					{% endif %}
			
					<a href="#news"><li class="btn-lg btn" id="page-active">{{ news.number }}</li></a>

			
					{% if news.has_next %}
						<a href="?page={{ news.next_page_number }}#news"><li class="btn-lg btn">{{ news.next_page_number }}</li></a>
						<a href="?page={{ news.paginator.num_pages }}#news"><li class="btn-lg btn">last &raquo;</li></a>
					{% endif %}

				</ul>
			</div>
			{% if not news.has_next %}
				<div class="row text-center pages">
					<a href="{% url 'yl:page'  news.number  %}#news" class="btn btn-lg btn-warning" id="more-articles">Vypísať všetky články</a>
				</div>
			{% endif %}			
		</div>
		<!-- /container -->

  {% endblock %}

